/Java002Variables/nbproject/private/
/Java003Casting/nbproject/private/
/Java003Casting/build/
/Java004Operadores/nbproject/private/
/Java004Operadores/dist/
/Java004Operadores/build/
/Java005Condicionales/nbproject/private/
/Java005Condicionales/build/
/Java005Condicionales/dist/
/Java006Bucles/nbproject/private/
/Java006Bucles/build/
/Java006Bucles/dist/