/Java002Variables/nbproject/private/
/Java003Casting/nbproject/private/
/Java003Casting/build/
/Java004Operadores/nbproject/private/
/Java004Operadores/dist/
/Java004Operadores/build/
/Java005Condicionales/nbproject/private/